# VCS
.git
.gitignore

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual envs
env/
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/

# Not needed in image
docs/
readme.md
requirements.txt
*.ipynb
